<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/web-server/public/css/style.css">
    
</head>
<body>
    {{>header}}
    <h1>{{errorMsg}}</h1>
    {{>footer}}
</body>
</body>
</html>