<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/web-server/public/css/style.css">
    
</head>
<body>
    {{>header}}
     <form>
        <input placeholder="Location">
        <button>search</button>
     </form>

    {{>footer}}
    <script src="/web-server/public/js/app.js"></script>
</body>
</body>
</html>